.signup-container {
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #050517;
}

form {
    padding: 20px 40px;
    border: 1px solid grey;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.logo-container   {
    display: flex;
    align-items: center ;
    justify-content: center;
    height: 5rem;
    margin-bottom: 15px;
    
}

.logo-container img{
    height: 100%;
}

.header {
   font-weight: 900;
   margin-bottom: 25px;
}

.input-label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: none;
    border: 1px solid grey;
    border-radius: 8px;
    color: white;
    border-radius: 25px;    
}


.checkbox-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.checkbox-container input[type="checkbox"] {
    color: blue;
}

.checkbox-container a, .login-link a {
    color: blue;
    text-decoration: underline;
}

.submit-button {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    background: blue;
    color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-weight: 900;
    height: 3.5rem;
}



.login-link {
    display: block;
    margin-top: 20px;
    margin-bottom: 25px;
}
